<!DOCTYPE html>
<html>
<head>
    <title>Train Model</title>
</head>
<body>
    <h1>Model Training Process started!!   </h1>
    
    <h2>Model will be trained on this data  </h2>
    <!-- <table>
        <thead>
            <tr>
                {% for col in df.columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in df.iterrows() %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
        <h4 style="background-color: blue;">{{modSum}}</h4>
</body>
</html>
